<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitalbrandoptimization">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Thanks"
            android:label="Successful"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Aboutus"
            android:label="@string/title_activity_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Branding"
            android:label="@string/title_activity_branding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CorpoarteEvents"
            android:label="@string/title_activity_corpoarte_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExhibitionsManagement"
            android:label="@string/title_activity_exhibitions_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExhibitionConsulting"
            android:label="@string/title_activity_exhibition_consulting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Partners"
            android:label="@string/title_activity_partners"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Awards"
            android:label="@string/title_activity_awards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Registration" />
        <activity
            android:name=".profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Feedback"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Welcome" />
        <activity
            android:name=".Enquiry"
            android:label="@string/title_activity_enquiry"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>